<div class="panel-body">
    <div class="header">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <strong>Saving for retirement</strong>
                <i class="fa fa-angle-right"></i>
            <div class="col-md-3 col-lg-3">
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <i class="fa fa-check-circle fa-5x"></i>
                <p>We’ll help you define your goals and investment style, estimate your needs, and more.</p>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <span>Footer actions</span>
        </div>
    </div>
</div>