<div class="panel panel-borderless">
    <div class="panel-heading">
        <div class="text-center">
            <h4><strong class="panel-title">{{name}}</strong></h4>
        </div>
    </div>
    <div class="panel-body" [ngClass]="getBootstrapClass()" style="min-height:100px">
        <div class="row">
            <div class="col-xs-3" style="margin-top:15px;">
                <i class={{iconName}}></i>
            </div>
            <div class="col-xs-9">
                <div id="count-id" class="text-center">
                    <p style="font-size:30px;margin-top:5px;margin-bottom:0px;">{{count}}</p>
                </div>
                <div class="text-center">
                    <small>per Month</small>
                </div>
            </div>
        </div>
    </div>
</div>