.panel-borderless {
  border: 0;
  box-shadow: none;
}

.panel-body:hover {
  /* font-weight: bold;*/
   /*font-size:1.2em;*/
   opacity: 1.0;
  /* color: black;*/
}

.panel-body {
    opacity: 0.6;
}
/*.panel-body:hover:after {
  top: 0.04em;
  left: 0.04em;
  width: 0.92em;
  height: 0.92em;
}*/