<div class="panel panel-borderless">
    <div *ngIf="name" class="panel-heading" style="padding:5px;">
        <div class="text-center">
            <h4 class="panel-title"><strong>{{name}}</strong></h4>
        </div>
    </div>
    <div class="panel-body" style="padding: 0px 5px 0px 5px;">
        <div class="inner-content text-center">
            <div [ngClass]="getBootstrapClass()">
                <span>{{percent}}%</span>
                <div class="slice"><div class="bar"></div><div class="fill"></div></div>
            </div>
        </div>
    </div>
</div>

                