<div class="col-xs-4">
    <div class="input-group">
    <input type="text" [value]="searchValue" class="form-control" (keyup)="onKey($event)" (keyup.enter)="searchClicked()">
    <span class="input-group-addon input-group-addon-remove">
        <span class="glyphicon glyphicon-remove" (click)="clearSearch()"></span>
    </span>
    </div>
</div>
<div class="col-xs-3">
    <div class="input-group">
    <button class="btn btn-default" (click)="searchClicked()">Search</button>
    </div>
</div>

<div class="col-xs-3">
    <div *ngIf="playerService.selectedTrack != null">
    <small> {{playerService.selectedTrack.artistName}}</small>
    <code> {{playerService.selectedTrack.trackName}}</code>
    </div>
</div>
    <div class="col-xs-2">
    <div *ngIf="playerService.selectedTrack != null">
    <img [src]="playerService.selectedTrack.artworkUrl100" (click)="playerService.play(playerService.selectedTrack)">
    </div>
</div>