
<music-navigator></music-navigator>
<!--form class="example-form col-md-12">
  <md-input-container class="example-full-width">
    Song<input mdInput disabled value="More than a feeling">
  </md-input-container>

  <md-input-container class="example-full-width">
    Artist<input mdInput disabled value="Boston">
  </md-input-container>

  <md-input-container class="example-full-width">
    Genre<input mdInput disabled value="Rock">
  </md-input-container>

  <md-input-container class="example-full-width">
    Year<input mdInput disabled value="1980">
  </md-input-container>
</form-->