<music-navigator></music-navigator>
<form class="example-form">
  <!--md-input-container class="example-full-width">
    <input mdInput placeholder="Artist (disabled)" disabled value="Boston">
  </md-input-container>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="First name">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="Last name">
    </md-input-container></td>
  </tr></table>
  <p>
    <md-input-container class="example-full-width">
      <textarea mdInput placeholder="Address">9013 Bancroft Trail</textarea>
    </md-input-container>
    <md-input-container class="example-full-width">
      <textarea mdInput placeholder="Address 2"></textarea>
    </md-input-container>
  </p>
<md-input-container>
  <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
  <button mdSuffix [mdDatepickerToggle]="picker"></button>
</md-input-container>
<md-datepicker #picker></md-datepicker>
</form-->